<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymmeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link media="all" rel="stylesheet"
          href="//netdna.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<h1 th:text="${greetings}">Hello ...</h1>

<section th:if="${posejdonConfig}">
    <h1>Config</h1>

    <p>
        AWS: <span th:text="${awsRegion}"></span>
    </p>
    <p>
        Env: <span th:text="${posejdonConfig.env}"></span>
    </p>
    <p>
        Domain: <span th:text="${posejdonConfig.domain}"></span>
    </p>
    <p>
        Themes: <span th:text="${posejdonConfig.themes}"></span>
    </p>
    <p>
        Admin Email: <span th:text="${posejdonConfig.adminEmail}"></span>
    </p>
    <p>
        Admin Phone: <span th:text="${posejdonConfig.adminPhone}"></span>
    </p>

</section>
</body>
</html>